<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Data Input</title>
	<link rel="stylesheet" href="input.css">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 

<body ng-app="">

<h1>Data Input Page</h1>

<form name="user_info">
<div id="basic_info_user">
	<label name="first_name_user" class="required">Your first name:</label>
	<input type="text" name="first_name_user" id="first_name_user" ng-model="first_name_user" required>
	<span style="color:red" ng-show="user_info.first_name_user.$touched && user_info.first_name_user.$invalid">First name of user required.</span>
	<br>
	<label name="last_name_user" class="required">Your last name:</label>
	<input type="text" name="last_name_user" id="last_name_user" ng-model="last_name_user" required>
	<span style="color:red" ng-show="user_info.last_name_user.$touched && user_info.last_name_user.$invalid">Last name of user required.</span>
	<br>
	<label class="required">Relationship to patient:</label>
	<input type="radio" name="rel_to_pat" id="user_rel_self" required>
	<label>Self</label>
	<input type="radio" name="rel_to_pat" id="user_rel_parent" required>
	<label>Parent/Guardian</label>
	<input type="radio" name="rel_to_pat" id="user_rel_other" required>
	<label>Other</label>
	<div id="if_user_other" style="display:none">
		<label class="required">Please specify your relationship to the patient:"</label>
		<input type="text" id="user_other_rel">
	</div>
	<br>
	<label name="user_email" class="required">Your email address:</label>
	<input type="email" id="user_email" name="user_email" ng-model="user_email" required>
	<span style="color:red" ng-show="user_info.user_email.$touched && user_info.user_email.$invalid">Please provide a proper email address.</span>
	<label name="user_phone" class="required">Your phone number:</label>
	<input type="tel" id="user_phone" name="user_phone" ng-model="user_phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
	<span style="color:red" ng-show="user_info.user_phone.$touched && user_info.user_phone.$invalid">Please provide a proper phone number (ex. 111-555-000).</span>
	<br><br>
</div>
</form>

<form name="pat_info">
<div id="basic_patient_info">
	<label name="pat_first_name" class="required">Patient's First Name:</label>
	<input type="text" id="pat_first_name" name="pat_first_name" ng-model="pat_first_name" required>
	<span style="color:red" ng-show="pat_info.pat_first_name.$touched && pat_info.pat_first_name.$invalid">Patient's first name required.</span><br>
	<label name="pat_middle_name">Patient's Middle Name (if any):</label>
	<input type="text" id="pat_middle_name"><br>
	<label name="pat_last_name" class="required">Patient's Last Name:</label>
	<input type="text" id="pat_last_name" name="pat_last_name" ng-model="pat_last_name" required>
	<span style="color:red" ng-show="pat_info.pat_last_name.$touched && pat_info.pat_last_name.$invalid">Patient's last name required.</span>
	<br>
	<label name="pat_birthdate" class="required">Patient's Birthdate:</label>
	<input type="date" id="pat_birthdate">
	<br>
	<label name="pat_sex" class="required">Patient sex:</label>
	<select id="pat_sex" name="pat_sex">
		<option value="">Please select sex</option>
		<option value="female">Female</option>
		<option value="male">Male</option>
		<option value="other">Other</option>
	</select>
	<label name="pat_state">Patient's state</label>
	<select id="pat_state" name="pat_state">
		<option value="">Select State</option>
		<option value="AL">Alabama</option>
		<option value="AK">Alaska</option>
		<option value="AZ">Arizona</option>
		<option value="AR">Arkansas</option>
		<option value="CA">California</option>
		<option value="CO">Colorado</option>
		<option value="CT">Connecticut</option>
		<option value="DE">Delaware</option>
		<option value="DC">District Of Columbia</option>
		<option value="FL">Florida</option>
		<option value="GA">Georgia</option>
		<option value="HI">Hawaii</option>
		<option value="ID">Idaho</option>
		<option value="IL">Illinois</option>
		<option value="IN">Indiana</option>
		<option value="IA">Iowa</option>
		<option value="KS">Kansas</option>
		<option value="KY">Kentucky</option>
		<option value="LA">Louisiana</option>
		<option value="ME">Maine</option>
		<option value="MD">Maryland</option>
		<option value="MA">Massachusetts</option>
		<option value="MI">Michigan</option>
		<option value="MN">Minnesota</option>
		<option value="MS">Mississippi</option>
		<option value="MO">Missouri</option>
		<option value="MT">Montana</option>
		<option value="NE">Nebraska</option>
		<option value="NV">Nevada</option>
		<option value="NH">New Hampshire</option>
		<option value="NJ">New Jersey</option>
		<option value="NM">New Mexico</option>
		<option value="NY">New York</option>
		<option value="NC">North Carolina</option>
		<option value="ND">North Dakota</option>
		<option value="OH">Ohio</option>
		<option value="OK">Oklahoma</option>
		<option value="OR">Oregon</option>
		<option value="PA">Pennsylvania</option>
		<option value="RI">Rhode Island</option>
		<option value="SC">South Carolina</option>
		<option value="SD">South Dakota</option>
		<option value="TN">Tennessee</option>
		<option value="TX">Texas</option>
		<option value="UT">Utah</option>
		<option value="VT">Vermont</option>
		<option value="VA">Virginia</option>
		<option value="WA">Washington</option>
		<option value="WV">West Virginia</option>
		<option value="WI">Wisconsin</option>
		<option value="WY">Wyoming</option>
	</select>
	<p style = "color:green" "font-size:10px"> FOR THE TIME BEING ONLY PA COUNTIES AVAILABLE. LONG TERM REACH GOAL IS THAT BASED ON THE STATE SELECTED A LIST OF APPROPRIATE COUNTIES/PARISHES WILL BE AVAILALBE.</p>	
	<label name="pat_county">Patient's county</label>
	<select id="pat_county" name="pat_county">
		<option value="">Patient's county of habitation</label>
		<option value="Adams">Adams</option>
		<option value="Allegheny">Allegheny</option>
		<option value="Armstrong">Armstrong</option>
		<option value="Beaver">Beaver</option>
		<option value="Bedford">Bedford</option>
		<option value="Berks">Berks</option>
		<option value="Blair">Blair</option>
		<option value="Bradford">Bradford</option>
		<option value="Bucks">Bucks</option>
		<option value="Butler">Butler</option>
		<option value="Cambria">Cambria</option>
		<option value="Cameron">Cameron</option>
		<option value="Carbon">Carbon</option>
		<option value="Centre">Centre</option>
		<option value="Chester">Chester</option>
		<option value="Clarion">Clarion</option>
		<option value="Clearfield">Clearfield</option>
		<option value="Clinton">Clinton</option>
		<option value="Columbia">Columbia</option>
		<option value="Crawford">Crawford</option>
		<option value="Cumberland">Cumberland</option>
		<option value="Dauphin">Dauphin</option>
		<option value="Delaware">Delaware</option>
		<option value="Elk">Elk</option>
		<option value="Erie">Erie</option>
		<option value="Fayette">Fayette</option>
		<option value="Forest">Forest</option>
		<option value="Franklin">Franklin</option>
		<option value="Fulton">Fulton</option>
		<option value="Greene">Greene</option>
		<option value="Huntingdon">Huntingdon</option>
		<option value="Indiana">Indiana</option>
		<option value="Jefferson">Jefferson</option>
		<option value="Juniata">Juniata</option>
		<option value="Lackawanna">Lackawanna</option>
		<option value="Lancaster">Lancaster</option>
		<option value="Lawrence">Lawrence</option>
		<option value="Lebanon">Lebanon</option>
		<option value="Lehigh">Lehigh</option>
		<option value="Luzerne">Luzerne</option>
		<option value="Lycoming">Lycoming</option>
		<option value="McKean">McKean</option>
		<option value="Mercer">Mercer</option>
		<option value="Mifflin">Mifflin</option>
		<option value="Monroe">Monroe</option>
		<option value="Montgomery">Montgomery</option>
		<option value="Montour">Montour</option>
		<option value="Northampton">Northampton</option>
		<option value="Northumberland">Northumberland</option>
		<option value="Perry">Perry</option>
		<option value="Philadelphia">Philadelphia</option>
		<option value="Pike">Pike</option>
		<option value="Potter">Potter</option>
		<option value="Schuylkill">Schuylkill</option>
		<option value="Snyder">Snyder</option>
		<option value="Somerset">Somerset</option>
		<option value="Sullivan">Sullivan</option>
		<option value="Susquehanna">Susquehanna</option>
		<option value="Tioga">Tioga</option>
		<option value="Union">Union</option>
		<option value="Venango">Venango</option>
		<option value="Warren">Warren</option>
		<option value="Washington">Washington</option>
		<option value="Wayne">Wayne</option>
		<option value="Westmoreland">Westmoreland</option>
		<option value="Wyoming">Wyoming</option>
		<option value="York">York</option>
	</select>
</div>
</form>

<div id="pat_birth_info"> <!--TODO: Need to add spaces for descriptions and month.-->
	<div id="bio_mom_basic_info">
	<p>Check any that apply immediately before, during, or after the pregnancy for the biological mother.</p>
	<input type="checkbox" id="bio_mom_injury">
	<label for="bio_mom_injury">Maternal injury.</label><br>
	<div id="if_maternal_injury" style="display:none">
		<label>Please provide information about the injury.</label>
		<input type="text" id="maternal_injury">
	</div>
	<input type="checkbox" id="bio_mom_hosp">
	<label for="bio_mom_hosp">Hospitalization during pregnancy.</label><br>
	<div id="if_mom_hosp" style="display:none">
		<label>Please provide information about the hospitalization.</label>
		<input type="text" id="maternal_hosp">
	</div>	
	<input type="checkbox" id="bio_mom_xrays">
	<label for="bio_mom_xrays">X-Rays during pregnancy.</label><br>
	<div id="if_mom_xrays" style="display:none">
		<label>Please provide information about the x-rays.</label>
		<input type="text" id="maternal_xrays">
	</div>
	<input type="checkbox" id="bio_mom_diet">
	<label for="bio_mom_diet">Special diet during pregnancy?</label><br>
	<input type="checkbox" id="bio_mom_meds">
	<label for="bio_mom_meds">What medications were taken during pregnancy?</label><br>
	<div id="if_mom_meds" style="display:none">
		<label>Please list biological mother's meds during pregnancy.</label>
		<input type="text" id="maternal_meds">
	</div>
	<label name="bio_mom_concep_age">Mother's age at conception:</label>
	<input type="number" id="bio_mom_concep_age"><br>
	<label>Did mother have previous pregnancies?</label>
	<input type="radio" name="bio_mom_prev_pregs" id="bio_mom_prev_births_no">
	<label>no</label>
	<input type="radio" name="bio_mom_prev_pregs" id="bio_mom_prev_births_yes"><!--open space for number including miscarriages-->
	<label>yes</label><br>
	<div id="if_prev_pregs" style="display:none">
		<label>Please list number of previous pregnancies including miscarraiges.</label>
		<input type="text" id="maternal_prev_pregs">
	</div>
	<label>Did mother receive prenatal care during this pregnancy?</label>
	<input type="radio" name="bio_mom_pre_care" id="bio_mom_pre_no">
	<label>no</label>
	<input type="radio" name="bio_mom_pre_care" id="bio_mom_pre_yes"><!--open space for starting at what month-->
	<label>yes</label><br>
	<label>During the pregnancy, was the baby:</label>
	<input type="radio" name="fetus_active" id="fetus_very_active">
	<label>Very active</label>
	<input type="radio" name="fetus_active" id="fetus_active">
	<label>active</label>
	<input type="radio" name="fetus_active" id="fetus_quiet">
	<label>Rather quiet</label><br>
	<label>Were there any unusual changes in the baby's activity level during pregnancy?</label>
	<input type="radio" name="fetus_action_change" id="fet_act_change_no">
	<label>no</label>
	<input type="radio" name="fetus_action_change" id="fet_act_change_yes">
	<label>yes</label><br>
	</div>

	<p>Check any that were relevant for the biological mother during pregnancy.</p>
	<table id="bio_mom_preg_conditions">
	<tr><td><input type="checkbox" id="bio_mom_preg_emos">
			<label for="bio_mom_preg_emos">Emotional problems</label></td>
		<td><input type="checkbox" id="bio_mom_preg_infects">
			<label for="bio_mom_preg_infects">Infections</label></td>
		<td><input type="checkbox" id="bio_mom_preg_premature">
			<label for="bio_mom_preg_premature">Premature labor</label></td></tr>
	<tr><td><input type="checkbox" id="bio_mom_preg_rash">
			<label for="bio_mom_preg_rash">Rashes</label></td>
		<td><input type="checkbox" id="bio_mom_preg_bedrest">
			<label for="bio_mom_preg_bedrest">Bed-rest</label></td>
		<td><input type="checkbox" id="bio_mom_preg_toxemia">
			<label for="bio_mom_preg_toxemia">Toxemia</label></td></tr>
	<tr><td><input type="checkbox" id="bio_mom_preg_diffconc">
			<label for="bio_mom_preg_diffconc">Difficulty in Conception</label></td>
		<td><input type="checkbox" id="bio_mom_preg_anemia">
			<label for="bio_mom_preg_anemia">Anemia</label></td>
		<td><input type="checkbox" id="bio_mom_preg_35lb">
			<label for="bio_mom_preg_35lb">Gained more than 35 pounds</label></td></tr>
	<tr><td><input type="checkbox" id="bio_mom_preg_swell">
			<label for="bio_mom_preg_swell">Excessive Swelling</label></td>
		<td><input type="checkbox" id="bio_mom_preg_vagblood">
			<label for="bio_mom_preg_vagblood">Vaginal bleeding</label></td>
		<td><input type="checkbox" id="bio_mom_preg_measles">
			<label for="bio_mom_preg_measles">Measles/German measles</label></td></tr>
	<tr><td><input type="checkbox" id="bio_mom_preg_nausea">
			<label for="bio_mom_preg_nausea">Excessive nausea/Vomiting</label></td>
		<td><input type="checkbox" id="bio_mom_preg_flu">
			<label for="bio_mom_preg_flu">Flu</label></td>
		<td><input type="checkbox" id="bio_mom_preg_hbp">
			<label for="bio_mom_preg_hbp">High blood pressure</label></td></tr>
	<tr><td><input type="checkbox" id="bio_mom_preg_kidney">
			<label for="bio_mom_preg_kidney">Kidney disease</label></td>
		<td><input type="checkbox" id="bio_mom_preg_strep">
			<label for="bio_mom_preg_strep">Strep throat</label></td>
		<td><input type="checkbox" id="bio_mom_preg_miscrisk">
			<label for="bio_mom_preg_miscrisk">Threatened miscarriage</label></td></tr>
	<tr><td><input type="checkbox" id="bio_mom_preg_rh">
			<label for="bio_mom_preg_rh">Rh incompatibility</label></td>
		<td><input type="checkbox" id="bio_mom_preg_headache">
			<label for="bio_mom_preg_headache">Headaches</label></td>
		<td><input type="checkbox" id="bio_mom_preg_cold">
			<label for="bio_mom_preg_cold">Severe cold</label></td></tr>
	<tr><td><input type="checkbox" id="bio_mom_preg_urine">
			<label for="bio_mom_preg_urine">Urinary problems</label></td>
		<td><input type="checkbox" id="bio_mom_preg_virus">
			<label for="bio_mom_preg_virus">Other virus</label></td>
		<td><input type="checkbox" id="bio_mom_preg_other">
			<label for="bio_mom_preg_other">Other Issue</label></td></tr> <!--TODO: trigger this to open up space to type up the other-->
	</table>
	
</div>
<br><br>
<button type="button" id="submit">submit</button>

<script src="input.js">
</script>

</body>
</html>